.navbar 
{
    width: 100%;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    padding:1%  ;
    font-size:5vw ;
    text-decoration: none;
    position: sticky;
}


 @media screen and (max-width: 500px) 
{
    .navbar
    {
      float: none;
      display:block;
    }
}


#b1,#b2, #b3, #b4,#b5
{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 60px;
    font-family:monospace  ;
    font-weight: bold;  
    border:none ;
    width:180px;
    text-decoration:none;
    padding: 10px;
    text-align: center;
    border-radius:10px ;
    margin:7px ;
}


#b1:hover,#b2:hover,#b4:hover,#b5:hover
{
    background-color: rgb(119, 150, 185);
    text-decoration: none;
}


.bar
{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}

#imggallery {
    line-height:0;
    column-count:4;
    column-gap:5px;
    margin-top: 40px ;
 }

 #imggallery img {
    width: 100%;
    height: auto;
    margin-bottom:5px;
    filter: grayscale(100%);
 }

 #imggallery img:hover {
    filter:none;
 }

 @media (max-width: 1200px) {
    #imggallery {
          column-count:4;
    }
 }

 @media (max-width: 1000px) {
    #imggallery 
    {
     column-count:3;
    }
 }

 
